<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_user_name">User Name</label>
  <input type="text" name="user[user_name]" id="user_user_name" >
  <br>
  <label for="user_password">Password</label>
  <input type="text" name="user[password]" id="user_password" >
  <br>

  <br>
  <input type="submit" value="Sign Up">
</form>
