<form action="/cat_rental_requests" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <select name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">
    <option value="Select One">Select One</option>
    <% @cats.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>
  <br>
  <label for="cat_rental_request_start_date">Rental Start Date</label>
  <input type="date" name="cat_rental_request[start_date]" id="cat_rental_request_start_date">
  <br>
  <label for="cat_rental_request_end_date">Rental End Date</label>
  <input type="date" name="cat_rental_request[end_date]" id="cat_rental_request_end_date">
  <br>
  <input type="submit" value="Request cat rental">
</form>