<form action="/cats" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if @cat.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
  <br>
  <label for="cat_age">Age</label>
  <input type="text" name="cat[age]" id="cat_age" value="<%= @cat.age %>">
  <br>
  <% checked = @cat.sex == "M" ? "checked" : "" %>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M" <%= checked.html_safe %>>
  <label for="cat_sex_male">Male</label>
  <br>
  <% checked = @cat.sex == "F" ? "checked" : "" %>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= checked.html_safe %>>
  <label for="cat_sex_female">Female</label>
  <br>
  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option value="Select One">Select One</option>
    <% selected = @cat.color == "brown" ? "selected" : "" %>
    <option value="brown" <%= selected.html_safe %>>Brown</option>
    <% selected = @cat.color == "black" ? "selected" : "" %>
    <option value="black" <%= selected.html_safe %>>Black</option>
    <% selected = @cat.color == "blue" ? "selected" : "" %>
    <option value="blue" <%= selected.html_safe %>>Blue</option>
    <% selected = @cat.color == "yellow" ? "selected" : "" %>
    <option value="yellow" <%= selected.html_safe %>>Yellow</option>
    <% selected = @cat.color == "red" ? "selected" : "" %>
    <option value="red" <%= selected.html_safe %>>Red</option>
    <% selected = @cat.color == "white" ? "selected" : "" %>
    <option value="white" <%= selected.html_safe %>>White</option>
  </select>
  <br>
  <label for="cat_birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value=<%= @cat.birth_date %>>
  <br>
  <input type="submit" value="Update cat">
</form>
