<h1><%= @cat.name %></h1>
<table>

  <tr>
    <td>Age</td>
    <td>Birthdate</td>
    <td>Color</td>
    <td>Sex</td>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>

</table>
<br>
<br>
<table>
  <tr>
    <td>Cat Rental Request ID</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
    <td>Action</td>
  </tr>
  <% @cat_rental_requests.each do |rental_request| %>
  <tr>
    <td><%= rental_request.id %></td>
    <td><%= rental_request.start_date %></td>
    <td><%= rental_request.end_date %></td>
    <td><%= rental_request.status %></td>
    <td>
      <% if rental_request.status == "PENDING" %>
        <% if rental_request.cat.owner == current_user %>
          <%= button_to "Approve", approve_cat_rental_request_url(rental_request) %>
          <%= button_to "Deny", deny_cat_rental_request_url(rental_request) %>
        <%end%>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>