<!DOCTYPE html>
<html>
<head>
  <title>CatsProject</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/errors" %>
  <% if current_user.nil? %>
    <%= link_to "Click here to log in", new_session_url %>
  <% else %>
    <%= "Welcome #{current_user.user_name}" %> | <%= button_to "Log Out", session_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
